@import url('../journey.component.css');
.text-white{
  color: #222222;
}
.intro{
  padding-top: 90px;
  background-color: #c70039;
    background-size: auto 100%;
    background-repeat: no-repeat; 
    background-position: right bottom; 
  min-height: calc(100vh - 50px);
}
.contenido{
  color: #1F1602;
} 
.objetivo{
  font-size: 16px;
  padding-bottom: 50px;
  text-align: center;
}
.objetivo>h3{
  font-size: 36px;
}
.objetivo>p{
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 20px;
  padding-right: 20px;
}
.icon-intro{
  width: 100px;
  height: auto;
}
.image-box{
  text-align: center;
}

