<div class="intro text-white">
  <div class="container">
      <div class="row">
        <div class="objetivo">
          <p><strong>Para comenzar, se diagnostica el desempeño de la empresa, su propuesta de valor y cómo se verá afectada por el entorno.</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 image-box">
          <img class="icon-intro" src="../../../assets/img/discovery01.png" align="middle">
          <h3><strong>Entorno</strong></h3>
        </div>
        <div class="col-lg-4 image-box">
          <img class="icon-intro" src="../../../assets/img/discovery02.png" align="middle">
          <h3><strong>Clientes</strong></h3>
        </div>
        <div class="col-lg-4 image-box">
          <img class="icon-intro" src="../../../assets/img/discovery03.png" align="middle">
          <h3><strong>Empresa</strong></h3>
        </div>
      </div>
  </div>
</div>

<div class="contenido" id="segundo">
  <div class="container">
    <p>
      SEGUNDO
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
  </div>
</div>

<div class="contenido" id="tercero">
  <div class="container">
    <p>
      TERCERO
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
  </div>
</div>
