<div class="menu-journey">
    <div class="container">
	    <ul class="barra-nav">
	        <li class="nav-item"><a class="nav-link btn-inactive btn-discovery" routerLinkActive="active01" [routerLink]="['./discovery']">Discovery</a></li>
	        <li class="nav-item"><a class="nav-link btn-inactive btn-diagnose" routerLinkActive="active02" [routerLink]="['./diagnose']">Diagnose</a></li>
	        <li class="nav-item"><a class="nav-link btn-inactive btn-translate" routerLinkActive="active03" [routerLink]="['./translate']">Translate</a></li>
	        <li class="nav-item"><a class="nav-link btn-inactive btn-plan" routerLinkActive="active04" [routerLink]="['./plan']">Plan</a></li>
	        <li class="nav-item"><a class="nav-link btn-inactive btn-evolve" routerLinkActive="active05" [routerLink]="['./evolve']">Evolve</a></li>
	    </ul>
    </div>
</div>
