.titulo{
    font-family: 'Righteous', cursive;
    font-size: 36px;
}
.subtitulo{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.indice{
	text-align: right;
}
.indice>ul{
  list-style-type: none;
}
.indice>ul>li>a{
	font-size: 16px;
	font-weight: 600;
	color: white !important;
	text-decoration: none;

}
.indice>ul>li>a:hover{
	color: #222222 !important;
}