<div class="container">
	<a class="navbar-brand text-white">Toolkits</a>
	<nav class=" menu navbar navbar-fixed-top navbar-dark">
	    <div class="">
	        <ul class="nav navbar-nav" routerLinkActive="active">
	            <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/intro']">Introduction</a></li>
	            <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/overview']">Overview</a></li>
	            <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/journey']">Journey</a></li>
	            <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/login']">Test</a></li>
	        </ul>
	    </div>
	</nav>
</div>