<div class="fondo-overview">
	<div class="container">
		<div class="intro-overview">
			<img class="img-overview" src="../../assets/img/overview-icon.png" class="overview-icon">
			<p>Los toolkits de Planeamiento Estratégico consisten en 5 pasos que nos permiten lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
	        <div class="btn-principal">Conoce cuales son esas 5 fases</div>
		</div>
	</div>
</div>

<div class="container fases">
	<h2 class="fases-titulo">Fases del proceso de elaboración del Plan Estratégico</h2>
	<div class="discovery">
		<h3 class="titulo">Discovery</h3>
		<h4 class="subtitulo">Revisión y entendimiento de la situación actual</h4>
		<div class="detalle">
			<li>Cuál es la estrategia actual?</li>
			<li>Qué problema del Cliente estamos solucionando?</li>
			<li>Cuáles son las capacidades y desafíos de la Compañía?</li>
			<li>Cómo es el entorno competitivo?</li>
		</div>
	</div>
	<div class="diagnose">
		<h3 class="titulo">Diagnose</h3>
		<h4 class="subtitulo">Dónde y por qué el negocio crea valor</h4>
		<div class="detalle">
			<li>Visión / Misión / Valores</li>
			<li>Dónde y por qué se hace el dinero? (what game are we playing?)</li>
			<li>Para qué futuro nos debemos preparar y cuáles son sus retos fundamentales?</li>
			<li>Cuáles son las alternativas y caminos para ganar? (how do we win this game?)</li>
		</div>
	</div>

	<div class="translate">
		<h3 class="titulo">Translate</h3>
		<h4 class="subtitulo">Cuál es nuestra estrategia integrada</h4>
		<div class="detalle">
			<li>Revisión del Modelo de Negocio</li>
			<li>Definición de los pilares estratégicos de transformación</li>
			<li>Definición de los Objetivos estratégicos por Unidad de Negocio</li>
		</div>
	</div>

	<div class="plan">
		<h3 class="titulo">Plan</h3>
		<h4 class="subtitulo">Cuál es el plan para hacerlo realidad</h4>
		<div class="detalle">
			<li>Definición de las Iniciativas estratégicas, recursos y planes</li>
		</div>
	</div>

	<div class="evolve">
		<h3 class="titulo">Evolve</h3>
		<h4 class="subtitulo">Cómo aprendemos y mejoramos</h4>
		<div class="detalle">
			<li>Monitorización y refresco en base a nuevo entorno y nuevas condiciones de mercado</li>
		</div>
	</div>
</div>

