@import url('https://fonts.googleapis.com/css?family=Arimo|Oswald|Poppins|Righteous');
.header{
	background-color: #222222;
}
.cuerpo{
	font-family: 'Arimo', sans-serif;
	position: absolute;
	top: 51px;
	width: 100%;
	background-color: #f7fff7;
}