<div class="intro text-white" id="primero">
  <div class="container">
    <div class="row">
      <h1 class="titulo">Plan</h1>
    </div>
    <div class="row">
      <div class="col-lg-9 objetivo">
        <h3 class="subtitulo">Objetivo principal</h3>
        <p>Maecenas nec odio et ante tincidunt tempus. </p>
        <h3 class="subtitulo">Preguntas clave</h3>
        <ul>
          <li>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</li>
          <li>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</li>
        </ul>
        <p></p>
      </div>
      <div class="col-lg-3 indice">
        <h3 class="subtitulo">Índice</h3>
        <ul>
          <li><a simplePageScroll href="#entorno">Entorno</a></li>
          <li><a simplePageScroll href="#clientes">Clientes</a></li>
          <li><a simplePageScroll href="#empresa">Empresa</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="contenido" id="segundo">
  <div class="container">
    <p>
      SEGUNDO
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
  </div>
</div>

<div class="contenido" id="tercero">
  <div class="container">
    <p>
      TERCERO
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
    <p>
      journey01 works!
    </p>
    <br>
  </div>
</div>
